*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(-315deg,rgb(37 90 209 / 60%),rgba(104, 134, 104, 0.623)),
    url(https://images.pexels.com/photos/2041627/pexels-photo-2041627.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

a, button{
    cursor: pointer;
}

.header{
    width: 100%;
    height: 2cm;
    box-shadow: 0 0 1px 0 inset;
    background-image: linear-gradient(90deg, #3b6431, transparent);
}

.left{
    display: flex;
}

.left img{
    height: 40px;
    width: 40px;
    margin: 14px 0px 0 30px;
}

.left h3{
    margin: 23px 0 0 7px;
    color: white;
    font-size: x-large;
}

.center{
    display: flex;
    justify-content: space-evenly;
    width: 66%;
    align-items: center;
}

.center a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.center img{
    height: 15px;
    width: 15px;
    margin: 3px 0px 0px -25px;
}

.center a:hover{
    border-bottom:  1px solid white;
}

.right{
    display: flex;
    margin: 14px auto;
}

.right button{
    margin: 8px;
    padding: 5px;
    width: 80px;
    background: none;
    border: 1px solid white;
    border-bottom: 2px solid white;
    border-radius: 4px;
    color: white;
    transition: 0.3s ease-in-out;
}

.right a{
    display: none;
}

.right button:hover{
    background-color: cornflowerblue;
}

.background{
    width: 100%;
}

i{
    margin: 3px;
}

.container{
    height: 14.3cm;
    width: 55%;
    margin: -1px auto;
    background-color: white;
}

.text{
    padding: 80px 0 0 0;
    text-align: center;
    line-height: 65px;
}

.text h2{
    color: #3d6a3d;
}

.text p{
    margin-top: 10%;
}

.btn a{
    border: 1px solid green;
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 12px;
    margin: 12px auto;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.btn a:hover{
    background-color:green;
    color: #fff;
}

.sign-in{
    margin: 8% 7% 0 0;
}

.sign-in img{
    background-color: #fff;
}

.sign-in span{
    display: flex;
    justify-content: center;
    color: white;
    font-size: xx-large;
}

.center button{
    margin: 3% 0 0 50%;
    padding: 5px;
    width: 80px;
    background: none;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    transition: 0.3s ease-in-out;
}

.center button:hover{
    background-color: cornflowerblue;
}

.form{
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

.icon{
    border: 1px solid black;
    border-right: none;
    background-color: white;
    width: 4%;
    border-radius: 4px;
}

.icon img{
    width: 20px;
    height: 20px;
    margin: 10px 0 0 15px;
}

.hide img{
    background:  none;
    height: 13px;
    margin: 13px 0 0px -24px;
}

.email input{
    padding: 12px;
    width: 10cm;
    background: none;
    border: 1px solid white;
    border-radius: 4px;
}

.email ::placeholder{
    color: white;
}

.link{
    display: flex;
    justify-content: center;
}

.link a{
    text-decoration: none;
    color: white;
    margin: 2%;
}

.footer{
    width: 100%;
    height: 1.7cm;
    background-color: black ;
    margin-top: 7.5%;
}

 .footer p{
    text-align: center;
    padding: 20px 0 0 0;
    color: #fff;
}

@media only screen and (max-width: 800px) {
    .center a{
        display: none;
    }

    .center img{
        display: none;
    }

.left img{
    height: 35px;
    width: 35px;
    margin: 14px 0px 0 0;
}

.left h3{
    font-size: medium;
}

.right{
    margin: 12px 2px 0 0;
}

.right button{
    width: 60px;
}

.container{
    margin: -1px auto;
}

.right a{
    display: inline-block;
    margin: 8px 0px 0px 11px;
    color: white;
    font-size: 23px;
}

.icon{
    width: 10%;
}

.icon img{
    margin: 10px 0 0 10px;
}

.header{
    width: 100%;
}

.footer{
    margin-top: 77.5%;
}

.email input{
    width: 7cm;
    border: 1px solid white;
}
}